body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    position: fixed;
    top: 50%;
    left: 0px;
    width: 20vw;
    height: 10vh;
    background-color: black;
}

