body {
  font-family:'Courier New', Courier, monospace;
  margin: 0px;
  color: #1f1f1f;
  background-color:whitesmoke ;
}

@font-face {
  font-family: "vga";
  src: url(../fonts/perfect_dos_vga_437_win-webfont.woff);
}

@property --gradientlight {
  syntax: "<color>";
  initial-value: rgba(196,123,140,0);
  inherits: false;
}

@property --gradientmedian {
  syntax: "<color>";
  initial-value: rgba(251,0,90,0.18);
  inherits: false;
}

@property --gradientdark {
  syntax: "<color>";
  initial-value: rgba(255,200,219,0);
  inherits: false;
}

.main {
  margin-left: 20px;
  margin-right: 300px;
}

.title {
  pointer-events: all;
  z-index: 10;
}

.subheading {
  padding-bottom: 10px;
}

.text {
  width: 200px;
}

.lowerlinebreak {
  margin: 0px;
}

.directorylink {
  margin: 0px;
}

.directorybutton {
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #bdbdbd;
  border-bottom-color: #7b7b7b;
  border-right-color: #7b7b7b;
  border-top-color: #dedede;
  border-left-color: #dedede;
  border-style: solid;
  border-width: 2px;
  width: 200px;
  height: 25px;
}

.directorybutton:hover {
  padding-top: 1px;
  padding-left: 1px;
  background-color: #bdbdbd;
  border-bottom-color: #dedede;
  border-right-color: #dedede;
  border-top-color: #7b7b7b;
  border-left-color: #7b7b7b;
  border-style: solid;
  border-width: 2px;
  width: 199px;
  height: 24px;
  transition: all;
}

.ipaddress {
  position: absolute;
  z-index: -1;
  margin: 0px;
  font-size: 10px;
  padding-top: 30px;
  padding-left: 0px;
}

.underlinedlink {
  text-decoration: underline;
}

.underlinedlink:link {
  text-decoration: underline;
}

.projtitle {
  padding-top: 15px;
  padding-bottom: 25px;
}

.projsubtext {
  padding-top: 0px;
  padding-left: 110px;
}

.sidebar {
  direction: rtl;
  float: right;
  height: 100%;
  width: 220px;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  margin-right: 20px;
  right: 0;
  top: 0;
}

.board {
  border: 1px solid #1f1f1f;
}

.divboard {
  padding-top: 25px;
}

a:link {
  text-decoration: none;
}

a {
  color:#1f1f1f;
}

a:hover {
  color: gray;
}

.directorylink:before{
  margin: 0px;
  content: "[\2606";
}

.directorylink:hover::before{
  color: gray;
  content: "[\2605";
}

.pagenumber {
  position: absolute;
  bottom: 0;
  text-align: left;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  width: 100%;
}

.image-grid img {
  width: 100%; 
  height: auto;
  cursor: pointer; 
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1000; 
  text-align: center;
}

.overlay img {
  max-width: 90%;
  max-height: 96%;
  padding-top: 1%;
}

.cube-container {
  margin-top: 25px;
  margin-right: 10px;
  width: 190px;
  height: 55px;
}

.cube {
  width: 30px;
  height: 30px;
  margin: 0px; 
  animation: rotateCube 5s linear infinite;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  border: 1px solid #1f1f1f;
  width: 30px;
  height: 30px;
}

.face.front {
  transform: translateZ(15px);
}

.face.back {
  transform: rotateY(180deg) translateZ(15px);
}

.face.left {
  transform: rotateY(-90deg) translateZ(15px);
}

.face.right {
  transform: rotateY(90deg) translateZ(15px);
}

.face.top {
  transform: rotateX(90deg) translateZ(15px);
}

.face.bottom {
  transform: rotateX(-90deg) translateZ(15px);
}

@keyframes rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.shadow:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.aquarium {
  margin-top: 20px;
}

.ve-00 {
  position: absolute;
  display: inline;
  border-radius: 2px;
  margin-top: 24px;
  height: 3px;
  width: 15px;
  background-color: #1f1f1f;
  animation: blink 2s infinite;
}

body:has(.title:hover) .ve-00 {
  background-color: gray;
}

@keyframes blink {
  from {opacity: 0%;}
  49% {opacity: 0%;}
  50% {opacity: 100%;}
  to {opacity: 100%;}
}

.ve-01 {
  margin: 0px;
  padding: 0px;
  margin-right: 30px;
  float: right;
  width: 165px;
  height: 27px;
  direction: ltr;
  display: inline;
  position: absolute;
  font-size: 8px;
}

.ve-01-00 {
  margin: 0px;
  padding: 0px;
  position: absolute;
  padding-left: 0px;
}

.ve-01-01 {
  margin: 0px;
  padding: 0px;
  position: absolute;
  padding-left: 80px;
}

.ve-01-02 {
  margin: 0px;
  padding: 0px;
  direction: rtl;
  position: absolute;
  padding-left: 105px;
}

.ve-02 {
  position: absolute;
  width: 250px;
  height: 100%;
  right: 10px;
  top: 10px;
}

.ve-02-00 {
  float: right;
  margin-right: 0px;
  right: 10px;
  top: 10px;
  width: 500px;
  height: 95px;
  border-right: 1px solid #1f1f1f;
  border-top: 1px solid #1f1f1f;
  bottom: 0px;
}

.ve-02-01 {
  float: right;
  width: 50px;
  border-top: 1px solid #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

body:has(.sidebar:hover) .ve-02-01 {
  width: 150px;
}

.ve-03 {
  z-index: -1;
  position: absolute;
  width: 250px;
  height: 100%;
  left: 10px;
  top: 10px;
}

.ve-03-00 {
  margin-right: 0px;
  right: 10px;
  top: 10px;
  width: 300px;
  height: 95px;
  bottom: 0px;
}

.ve-03-01 {
  width: 50px;
  height: 215px;
  border-top: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

.ve-03-01-00 {
  width: 50px;
  height: 565px;
  border-top: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

.ve-03-01-01 {
  width: 50px;
  height: 765px;
  border-top: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

.ve-03-01-02 {
  width: 50px;
  height: 35px;
  border-top: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

.ve-03-01-03 {
  width: 50px;
  height: 55px;
  border-top: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

.ve-03-01-04 {
  width: 50px;
  height: 55px;
  border-top: 1px solid #1f1f1f;
  border-left: 1px solid #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

body:has(.text:hover) .ve-03-01 {
  width: 150px;
}

body:has(.divboard:hover) .ve-03-01-00 {
  width: 150px;
}

body:has(.projects:hover) .ve-03-01-01 {
  width: 150px;
}

body:has(.portfolio:hover) .ve-03-01-02 {
  width: 150px;
}

body:has(.obituary:hover) .ve-03-01-03 {
  width: 150px;
}

body:has(.aquarium:hover) .ve-03-01-03 {
  width: 150px;
}

.ve-03-02 {
  width: 20px;
  height: 0px;
  border-top: 1px dashed #1f1f1f;
  transition: all cubic-bezier(1,0.6,0.1,0.1) 0.2s;
}

