/*-------------- Site Items --------------*/
/* Colours */
:root {
    --terminalCursor: url('../img/cursor/cursor.cur'), auto;
    --green: #21d38f;
    --red: #ff748b;
    --black: #000000;
    --white: #f5f5f5;
    --chromaticAberrationRight: #69bef0;
    --chromaticAberrationLeft: #c2fa69;
    --chromaticAberrationFadedRight: #2a4b5f;
    --chromaticAberrationFadedLeft: #4f662b;
}

/* Fonts */
@font-face {font-family: "pixels"; src: url(../fonts/pixels.woff2)}
@font-face {font-family: "vga"; src: url(../fonts/perfect_dos_vga_437_win-webfont.woff)}
@font-face {font-family: "silkscreen"; src: url(../fonts/Silkscreen400.woff2)}
@font-face {font-family: "DotGothic"; src: url(../fonts/DotGothic16.woff2)}

/* Defualts */
html {
    cursor: var(--terminalCursor);
    color: var(--green);
    background-color: var(--black);
    font-family: 'Courier New', Courier, monospace;
}

*, *:hover {
    cursor: var(--terminalCursor);
}

p, pre, span {padding: 0px; margin: 0px}

fieldset {padding: 10px; margin: 0px; border: 3px double}

button {
    cursor: url('../img/cursor/cursor.cur'), auto;
    color: inherit;
	border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}

a:link,
a:visited {
    color: var(--black);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    border-left: 2px solid var(--black);
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    background: var(--green);
}

::-webkit-scrollbar-thumb:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
    background: var(--green);
}

/*-------------- Stars --------------*/
.star {
    position: absolute;
    z-index: -1;
    font-size: 16px;
    opacity: 0;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.star.fade-in {animation: fadeIn 1s forwards}

.star.fade-out {animation: fadeOut 1s forwards}

.star.fixed {opacity: 0.2 !important}

.stars * {
    position: absolute;
    z-index: -1;
    font-size: 16px;
    opacity: 0.6;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
    pointer-events: none;
} 

.stationaryStar1 {top: 500px; left: 50px;}
.stationaryStar2 {top: 460px; left: 60px;}
.stationaryStar3 {top: 100px; left: 1200px;}
.stationaryStar4 {top: 400px; left: 1300px;}
.stationaryStar5 {top: 700px; left: 900px;}
.stationaryStar6 {top: 500px; left: 800px;}
.stationaryStar7 {top: 550px; left: 300px;}
.stationaryStar8 {top: 260px; left: 730px;}
.stationaryStar9 {top: 600px; left: 1400px;}
.stationaryStar10 {top: 460px; left: 1000px;}
.stationaryStar11 {top: 1000px; left: 500px;}
.stationaryStar12 {top: 750px; left: 2000px;}
.stationaryStar13 {top: 300px; left: 1700px;}
.stationaryStar14 {top: 900px; left: 1600px;}
.stationaryStar15 {top: 100px; left: 2000px;}
.stationaryStar16 {top: 900px; left: 100px;}
.stationaryStar17 {top: 1200px; left: 1100px;}

.moon {
    letter-spacing: 1px;
    margin-top: 300px;
    margin-left: 950px;
}

/*-------------- Constellations --------------*/
.Constelations * {
    position: absolute;
    opacity: 0.8;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

/* Apus */
.Apus {
    opacity: 0;
    transition: opacity 0.5s ease;
    border-style: dashed;
    margin-top: 680px;
    margin-left: 180px;
    width: 268px;
    height: 102px;
    box-shadow: 1px 0 1px var(--chromaticAberrationFadedRight), -1px 0 1px var(--chromaticAberrationFadedLeft);
}

.ApusInfo {
    opacity: 0; 
    font-size: 15px;
    transition: opacity 0.5s ease;
    margin-top: 675px;
    margin-left: 460px;
    width: 260px;
    height: 100px;
}

.ApusContainer:hover .Apus {opacity: 0.7}

.ApusContainer:hover .ApusInfo {opacity: 0.9}

.ApusLine * { border-style: none none solid none }

.ApusLine1 {margin-top: 34px; margin-left: 22px; width: 38px; transform: rotate(36deg)}
.ApusLine2 {margin-top: 42px; margin-left: 10px; width: 30px; transform: rotate(65deg)}
.ApusLine3 {margin-top: 75px; margin-left: 42px; width: 205px; transform: rotate(5deg)}

.ApusStar1 {margin-top: 7px; margin-left: 7px}
.ApusStar2 {margin-top: 40px; margin-left: 60px}
.ApusStar3 {margin-top: 56px; margin-left: 27px}
.ApusStar4 {margin-top: 75px; margin-left: 248px}

/* Ara */
.AraContainer {
    position: relative;
    z-index: 1; 
    pointer-events: auto; 
}

.Ara {
    opacity: 0;
    transition: opacity 0.5s ease;
    border-style: dashed;
    margin-top: 170px;
    margin-left: 980px;
    width: 135px;
    height: 275px;
    box-shadow: 1px 0 1px var(--chromaticAberrationFadedRight), -1px 0 1px var(--chromaticAberrationFadedLeft);
}

.AraInfo {
    opacity: 0; 
    font-size: 15px;
    transition: opacity 0.5s ease;
    margin-top: 166px;
    margin-left: 1128px;
    width: 260px;
    height: 100px;
}

.AraContainer:hover .Ara {opacity: 0.7}

.AraContainer:hover .AraInfo {opacity: 0.9}

.AraLine * {border-style: none solid none none}

.AraLine1 {margin-top: 29px; margin-left: 20px; position: absolute; height: 108px; transform: rotate(353deg)}
.AraLine2 {margin-top: 127px; margin-left: 62px; position: absolute; height: 52px; transform: rotate(98deg)}
.AraLine3 {margin-top: 180px; margin-left: 20px; position: absolute; height: 66px; transform: rotate(10deg)}
.AraLine4 {margin-top: 168px; margin-left: 106px; height: 56px; transform: rotate(345deg)}
.AraLine5 {margin-top: 90px; margin-left: 101px; height: 56px; transform: rotate(5deg)}

.AraStar1 {margin-top: 7px; margin-left: 7px}
.AraStar2 {margin-top: 65px; margin-left: 100px}
.AraStar3 {margin-top: 138px; margin-left: 22px}
.AraStar4 {margin-top: 157px; margin-left: 23px}
.AraStar5 {margin-top: 147px; margin-left: 92px}
.AraStar6 {margin-top: 247px; margin-left: 8px}
.AraStar7 {margin-top: 223px; margin-left: 113px}

/* Aries */
.Aries {
    opacity: 0;
    transition: opacity 0.5s ease;
    border-style: dashed;
    margin-top: 480px;
    margin-left: 383px;
    width: 275px;
    height: 135px;
    box-shadow: 1px 0 1px var(--chromaticAberrationFadedRight), -1px 0 1px var(--chromaticAberrationFadedLeft);
}

.AriesInfo {
    opacity: 0; 
    font-size: 15px;
    transition: opacity 0.5s ease;
    margin-top: 627px;
    margin-left: 383px;
    width: 260px;
    height: 100px;
}

.AriesContainer:hover .Aries {opacity: 0.7}

.AriesContainer:hover .AriesInfo {opacity: 0.9}

.AriesLine * {border-style: none none solid none}

.AriesLine1 {margin-top: 30px; margin-left: 25px; width: 150px; transform: rotate(8deg)}
.AriesLine2 {margin-top: 60px; margin-left: 195px; width: 42px; transform: rotate(32deg)}
.AriesLine3 {margin-top: 99px; margin-left: 238px; width: 27px; transform: rotate(67deg)}

.AriesStar1 {margin-top: 7px; margin-left: 7px}
.AriesStar2 {margin-top: 34px; margin-left: 180px}
.AriesStar3 {margin-top: 69px; margin-left: 237px}
.AriesStar4 {margin-top: 110px; margin-left: 253px}

/*-------------- Title --------------*/
.screenGrid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.06;
    background-image: url(../img/noise.gif);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    z-index: 10;
    pointer-events: none;
    display: none;
}

.mobile-warning {
    display: none;
    z-index: 1000;
}

.warning {
    color: var(--red);
}

.titlestart {
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

.title {
    height: 310px;
    width: 800px;
    position: absolute;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
    transition: all 0.5s ease;
    box-shadow: 1px 0 1px var(--chromaticAberrationFadedRight), -1px 0 1px var(--chromaticAberrationFadedLeft);
}

/*-------------- Directories --------------*/
.directories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
}

/* Buttons */
.directorybutton {
    padding: 0px;
    margin: 0px;
    padding-bottom: 4px;
    padding-left: 2px;
    width: 250px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--green);
    display: flex;
    align-items: center;
    position: relative;
    border-style: none;
    transition: all 0.5s ease;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

.directorylink:hover {
    cursor: url('../img/cursor/cursorFull.cur'), auto;
}

.directorybutton:hover {
    cursor: url('../img/cursor/cursorFull.cur'), auto;
    color: rgb(0, 0, 0);
    background-color: var(--green);
}

.directorybutton:hover .directorylink::before {
    content: "[★]";
}

.directorylink::before {
    content: "[☆]"; 
}

.directoryFieldset {
    background-color: rgba(0, 0, 0, .7);
    transition: all 0.5s ease;
    box-shadow: 1px 0 1px var(--chromaticAberrationFadedRight), -1px 0 1px var(--chromaticAberrationFadedLeft);
}

.internalwindowbutton {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    padding-left: 5px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 4px;
    margin-bottom: 10px;
    border-color: var(--black);
    border-style: solid;
    border-width: 2px;
    width: 250px;
    height: 30px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

.internalwindowbutton:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    color: white;
    background-color: var(--red);
    transform: translateY(4px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.internalwindowbutton:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.internalwindowbuttonPersonal {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    padding-left: 5px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 4px;
    margin-bottom: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 150px;
    height: 30px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

.internalwindowbuttonPersonal:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    color: var(--white);
    background-color: var(--red);
    transform: translateY(4px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.internalwindowbuttonPersonal:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.Button-running {
    padding-top: 2px;
    direction: rtl;
    float: right;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    right: 0;
    display: none;
}

.Button-running:hover {
    cursor: url('../img/cursor/cursorFull.cur'), auto;
}

/* Volume */
.volume {
    cursor: url('../img/cursor/cursorFull.cur'), auto;
    margin-top: 18px;
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: baseline;
    gap: 3px;
    transition: all 0.5s ease;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

.volumeButton,
.muteButton {
    width: 7px;
    border: none;
}

.volumeLevel {
    width: 7px;
    border: none;
    background-color: var(--green);
    transition: all 0.5s ease;
    box-shadow: 1px 0 1px var(--chromaticAberrationFadedRight), -1px 0 1px var(--chromaticAberrationFadedLeft);
}

.louder {
    background-color: #05291b;
}

.volumeLevelCountercss {
    position: absolute;
    direction: ltr;
    margin-top: 3px;
    right: 2px;
}

/*-------------- Ascii Art --------------*/
/* Cat */
.cat {
    padding: 0px;
    position: absolute;
    margin-left: 760px;
    margin-top: -55px;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

/* Spider & Web */
.web {
    z-index: -10;
    position: absolute;
    margin-top: 340px;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

.spider {
    position: absolute;
    margin-left: 730px;
    margin-top: 340px;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

/* Bat */
.mousefollow {
    top: 370px;
    left: 450px;
    position: absolute;
    pointer-events: none;
    animation: float 0.6s infinite steps(1);
}

#frame {
    display: none;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

.bat {
    z-index: 3;
    position: absolute;
    margin-left: 500px;
    margin-top: 340px;
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
}

.bat:hover {
    cursor: url('../img/cursor/cursorFull.cur'), auto;
}

#batInstruction {
    text-shadow: 1px 0 1px var(--chromaticAberrationRight), -1px 0 1px var(--chromaticAberrationLeft);
    margin-top: 380px;
    margin-left: 570px;

}

/*-------------- Snake Window --------------*/
.board {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    border: 2px solid #1f1f1f;
    opacity: 0.8;
    background-image: url(../img/noise.gif);
    background-color: rgb(245, 245, 245, 0.99);
    background-blend-mode: lighten;
}

.divboard {
    padding-top: 0px;
}

.divboard:hover {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
}

.snakeScore:hover {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
}

/*-------------- Art Window --------------*/
.headertext {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    padding-bottom: 10px;
}

.subtext {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    font-size: 12px;
}

.retroImage {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
}

.retroImage:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
}

.retroImage:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}

.image-grid:hover {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

.overlay:hover {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
}

.overlay img {
    max-width: 90%;
    max-height: 96%;
    padding-top: 1%;
    z-index: 2000;
}

/*-------------- Projects Window --------------*/
.internalwindowbutton {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    padding-left: 5px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 4px;
    margin-bottom: 10px;
    border-color: var(--black);
    border-style: solid;
    border-width: 2px;
    width: 250px;
    height: 30px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

.internalwindowbutton:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    color: white;
    background-color: var(--red);
    transform: translateY(4px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.internalwindowbutton:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

/*-------------- Personal Window --------------*/
.internalwindowbuttonPersonal {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    padding-left: 5px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 4px;
    margin-bottom: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 150px;
    height: 30px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

.internalwindowbuttonPersonal:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    color: var(--white);
    background-color: var(--red);
    transform: translateY(4px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.internalwindowbuttonPersonal:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.retroLink:link {
    text-decoration: underline;
}

.retroLink:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
}

.retroLink:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.retroMediaHover {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s
}

.retroMediaHover:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

.retroMediaHover:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

.shadow {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.shadow:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

/*-------------- Windows --------------*/
.floating-windows {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    color: #1f1f1f;
    font-family: "pixels";
}

.floating-windows:hover {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
}

#floatingWindow1, #floatingWindow2, #floatingWindow3, #floatingWindow4, #floatingWindow5 {
    position: absolute;
    top: 100px;
    left: 200px;
    border: 2px solid var(--black);
    outline: 2px dashed var(--green);
    box-shadow: 0px 0px 20px rgb(33, 211, 143, 0.3), 0px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(245, 245, 245, 0.9);
    z-index: 500;
    display: none;
    animation-name: flicker;
    animation-duration: 0.05s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* Window 1 */
#floatingWindow1 {width: 535px; height: 590px}

/* Window 2 */
#floatingWindow2 {width: 1000px; height: 700px}

#floatingWindow2 .content {
    padding: 10px;
    height: calc(100% - 70px);
    overflow: auto;
}

/* Window 3 */
#floatingWindow3 {width: 800px; height: 600px}

#floatingWindow3 .content {
    padding: 10px;
    height: calc(100% - 70px);
    overflow: auto;
}

/* Window 4 */
#floatingWindow4 {width: 800px; height: 600px}

#floatingWindow4 .content {
    padding: 10px;
    height: calc(100% - 70px);
    overflow: auto;
}

/* Window 5 */
#floatingWindow5 {width: 700px; height: 200px}

#floatingWindow5 .content {
    padding: 10px;
    height: calc(100% - 70px);
    overflow: auto;
}

/* Window Items */
.header {
    font-family: "pixels";
    display: flex;
    padding: 10px;
    background-color: var(--white);
    border-bottom: 2px solid var(--black);
    cursor: move;
}

.header:hover {
    cursor: url('../img/cursor/cursorRetroMoveHover.cur'), auto;
}

.header:active {
    cursor: url('../img/cursor/cursorRetroMove.cur'), auto;
}

.windowoptions {
    padding-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    float: right;
    position: absolute;
    margin-right: 10px;
    right: 0;
    top: 0;
    text-align: center;
}

.windowoptions:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
}

.back-button {
    line-height: 19px;
    width: 17px;
    height: 17px;
    background-color: #ffac74;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.05s ease;
    border: 2px solid var(--black);
}

.back-button:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

.back-button:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.minimalise {
    width: 17px;
    height: 17px;
    background-color: var(--green);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.05s ease;
    border: 2px solid var(--black);
}

.minimalise:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

.minimalise:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.close {
    width: 17px;
    height: 17px;
    background-color: var(--red);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.05s ease;
    border: 2px solid var(--black);
}

.close:hover {
    cursor: url('../img/cursor/cursorRetroHover.cur'), auto;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

.close:active {
    cursor: url('../img/cursor/cursorRetroHoverActive.cur'), auto;
}

.content {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
    padding: 10px;
}

.content:hover {
    cursor: url('../img/cursor/cursorRetro.cur'), auto;
}

/*-------------- Key Frames --------------*/
@keyframes flicker {
    from {
        box-shadow: 0px 0px 20px rgb(33, 211, 143, 0.3), 0px 4px 0px rgba(0, 0, 0, 0.5);
    }

    to {
        box-shadow: 0px 0px 20px rgba(31, 235, 157, 0.4), 0px 4px 0px rgba(0, 0, 0, 0.5);
    }
}

@keyframes float {
    0% {
        transform: translateY(-2px);
    }

    20% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(1px);
    }

    60% {
        transform: translateY(-3px);
    }

    80% {
        transform: translateY(-6px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.2;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0;
    }
}