.main {
  font-family: monospace;
  margin-left: 0px;
}

.p1 {
  font-family: monospace;
}

.board {
  border: 1px solid rgb(0, 0, 0);
}

.divboard {
  padding-top: 5px;
}

a:link {
  text-decoration: none;
}

a {
  color:black;
}

a:hover {
  color: gray;
}
