body {
  background-color:whitesmoke ;
}

.main {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 0px;
}

.p1 {
  font-family: 'Courier New', Courier, monospace;
}

.board {
  border: 1px solid rgb(0, 0, 0);
}

.divboard {
  padding-top: 25px;
}

a:link {
  text-decoration: none;
}

a {
  color:black;
}

a:hover {
  color: gray;
}

.directorylink:before{
  content: "[\2606";
}

.directorylink:hover::before{
  color: gray;
  content: "[\2605";
}

.linebreak {
  padding-bottom: 10px;
}

.pagenumber {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 0;
  text-align: left;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  width: 100%;
}

.image-grid img {
  width: 100%; 
  height: auto;
  cursor: pointer; 
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1000; 
  text-align: center;
}

.overlay img {
  max-width: 90%;
  max-height: 80%;
  padding-top: 5%;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 100px auto;
  animation: rotateCube 5s linear infinite;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

  .face.front {
    transform: translateZ(50px);
  }

  .face.back {
    transform: rotateY(180deg) translateZ(50px);
  }

  .face.left {
    transform: rotateY(-90deg) translateZ(50px);
  }

  .face.right {
    transform: rotateY(90deg) translateZ(50px);
  }

  .face.top {
    transform: rotateX(90deg) translateZ(50px);
  }

  .face.bottom {
    transform: rotateX(-90deg) translateZ(50px);
  }

@keyframes rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}